/* stylelint-disable at-rule-no-unknown */
@use './global.scss';
@use './_mixin.scss' as mixins;
@use './_colors.scss';

.header {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  padding: 1rem 10px;
  background-color: rgb(105, 60, 60, 0.5);

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: calc(1200px - 20px);
    margin-inline: auto;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);

    @media only screen and (min-width: 768px) {
      padding-inline: 1rem;
    }

    &-img {
      display: inline-block;
      width: 40px;
      height: 50px;
    }
  }

  &__nav {
    &-btn {
      position: absolute;
      inset-block-start: 0;
      inset-inline-end: 0;
      border-radius: 5px;
      width: 50px;
      height: 50px;
      cursor: pointer;

      @media only screen and (min-width: 768px) {
        display: none;
      }

      & .btn-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.close {
        background-color: rgb(105, 60, 60, 0.5);

        & .btn-img.btn-close {
          display: none;
        }

        & .btn-img.btn-open {
          display: block;
        }
      }

      &.open {
        background-color: transparent;

        & .btn-img.btn-close {
          display: block;
        }

        & .btn-img.btn-open {
          display: none;
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      @media only screen and (min-width: 768px) {
        display: flex;
        flex-flow: row;
      }

      &.close {
        display: none;

        @media only screen and (min-width: 768px) {
          display: flex;
          flex-flow: row;
        }
      }
    }

    &-item {
      font-size: 1.5rem;
      width: 100%;
    }

    &-link {
      display: block;
      padding: 1rem;
      border-radius: 5px;
      color: rgb(255, 255, 255);
      text-align: center;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &.active,
      &:hover {
        background-color: rgb(105, 60, 60, 0.5);
        color: rgb(255, 255, 255);
      }

      &.active {
        cursor: none;
      }
    }
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-block-start: 98px;
}

.artwork img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.footer {
  padding: 2rem 1rem;

  &__credit {
    font-size: 1rem;
    color: rgb(105, 60, 60, 0.5);
    line-height: 1.5em;

    &-link {
      color: rgb(105, 60, 60, 0.5);
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: rgb(105, 60, 60, 0.5);
      }
    }
  }
}

h6 {
  margin-bottom: 5%;
  font-size: 14px;
}

h4 {
  font-size: 20px;
  margin-bottom: 5%;
}

h3 {
  font-size: 16px;
  margin-bottom: 5%;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5%;
}

.exhibitionImg {
  width: 300px;
  height: 300px;
  border-radius: 1px;
  margin-bottom: 2%;
}

.exhibitionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  border: 2px solid rgb(39, 31, 31);
  border-radius: 5px;
}

.buttonReservation {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 3px;
  margin-top: auto;
  padding: 1%;
  margin-bottom: 1%;
  cursor: pointer;
}

.reservation-title {
  font-weight: bold;
  font-size: 18px;
}

.hide {
  display: none;
}

.opened {
  background-color: rgba(3, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.closed {
  right: inherit;
  position: fixed;
  border-radius: 5px;
  cursor: pointer;
}

.exhibition-board {
  padding: 5px;
  margin: 2% auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 700px;
  height: 565px;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 10px;
}

.strDiv {
  text-align: center;
  margin-bottom: 5%;
}

.exhibition-board #imgThumb {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  order: -1;
  margin-bottom: 3%;
}

.exhibition-board button {
  width: 25%;
  padding: 1% 0%;
  border-radius: 5px;
  margin-left: 10%;
}

.ticket-board {
  border: 2px solid rgb(153, 153, 153);
  border-radius: 5px;
  margin: 2% 5%;
  overflow-y: auto;
  height: 150px;
  padding: 0% 5%;
  color: #fff;
}

.exhibition-board input {
  margin: 1% 10%;
  width: 45%;
  height: 20px;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
}

.exhibitionText {
  color: rgb(255, 255, 255);
  height: 400px;
  padding: 5% 5%;
  overflow-y: auto;
}
