/* stylelint-disable at-rule-no-unknown */
@use './global.scss';
@use './_mixin.scss' as mixins;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  &__logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5rem;
    color: #fff;

    &-img {
      display: inline-block;
      width: 40px;
      height: auto;
    }
  }

  &__nav {
    &-btn {
      cursor: pointer;
      .btn-img.close {
        display: none;
      }
    }

    &-list {
      &.close {
        display: none;
      }
    }
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.artwork img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 3/4;
  object-fit: cover;
}